<div class="flex flex-col h-screen">
  <!-- Header -->
  <header class="flex items-center justify-between bg-white p-4 shadow-md">
    <mat-icon class="w-190 h-12 cursor-pointer" (click)="navigateHome()"
      >home</mat-icon
    >
    @if(questionMode == true){
    <div class="text-3xl font-bold">{{ display }}</div>
    }
    <div class="relative flex items-center space-x-4 w-28 h-10">
      <button
        mat-button
        class="bg-white rounded-full w-10 h-10 flex items-center justify-center cursor-pointer"
        [matMenuTriggerFor]="menu"
      >
        <span>{{ "app.currentLanguage" | translate }}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchTranslation('pl')">
          {{ "app.Polish" | translate }}
        </button>
        <button mat-menu-item (click)="switchTranslation('en')">
          {{ "app.English" | translate }}
        </button>
      </mat-menu>
    </div>
  </header>

  <!-- Main content -->
  <main class="flex-1 p-6 bg-gray-50">
    <div class="grid grid-cols-1 gap-4 h-full items-center justify-center">
      <!-- Cards -->
      @if(questionMode == false){

      <div
        class="flex flex-col justify-self: center; items-center content-center p-6 rounded-lg shadow-md transition-transform w-120 h-25 cursor-pointer"
        style="
          background: linear-gradient(to right, #00ff00, #008000);
          background-size: 100% 100%;
          background-position: center;
          transition: background-size 0.3s ease;
          justify-self: center;
        "
        onmouseover="this.style.backgroundSize='230% 230%'"
        onmouseout="this.style.backgroundSize='100% 100%'"
        (click)="startQuestion()"
      >
        <h3 class="text-xl font-medium text-black font-bold">
          <span class="flex items-center justify-center">
            {{ "buttons.start" | translate }}
          </span>
        </h3>
      </div>
      } @if(questionMode == true){
      <app-question
        class="w-180"
        style="justify-self: center"
        (endQuestionEmitter)="endQuestion()"
      ></app-question>
      }
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-white p-4 shadow-md">
    <p class="flex items-center justify-center w-full h-full">
      Made by Kacper Klimas
    </p>
  </footer>
</div>
